html {
  font-size: 14px;
  min-width: 350px;

  font-family: sans-serif;
}

body {
  font-size: 1rem;
}

:root {
  background-color: #fff;
  overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
  }
}
