.About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textarea {
        resize: none;
        height: 70vh;
        width: 100%;
    }

    .buttonWrapper {
        margin-top: 2vh;
        text-align: right;
    }
}
