.ArticlePreviewCard {
    width: 100%;
    box-shadow: none !important;

    .header {
        padding: 16px 0;
        .title {
            width: 50vw;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.5rem;
            font-family: sans-serif;
            font-weight: 100;
            color: var(--COLOR);

            @media (max-width: 500px) {
                width: 80vw;
                font-size: 1rem;
            }
        }

        .info {
            margin-top: 4px;
        }
    }

    .brief {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: var(--LIGHT_COLOR);
    }
}
