.SiteFooter {
  text-align: center;
  height: 100%;

  /* Override antd */
  background: var(--BACKGROUND_COLOR) !important;
  color: var(--COLOR) !important;
  @media (orientation: portrait) {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .hitokotoWrapper {
    @media (orientation: portrait) {
      display: none;
    }
  }
}
