name: Apps CI

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install
      - name: Validate PR
        run: bun validate:pr
      - name: Test
        run: bun run test
  build:
    needs: [test]
    strategy:
      matrix:
        include:
          - docker-build-target: blog
            docker-file-path: ./apps/web/blog-vite/Dockerfile
          - docker-build-target: admin
            docker-file-path: ./apps/web/admin-vite/Dockerfile
          - docker-build-target: game-2048
            docker-file-path: ./apps/web/game-2048/Dockerfile
          - docker-build-target: auth-server
            docker-file-path: ./apps/server/auth/Dockerfile
          - docker-build-target: database-server-legacy
            docker-file-path: ./apps/server/database-legacy/Dockerfile
          - docker-build-target: auth-server-legacy
            docker-file-path: ./apps/server/auth-legacy/Dockerfile
    uses: ./.github/workflows/docker-image-build-and-push.yml
    secrets: inherit
    with:
      docker-file-path: ${{ matrix.docker-file-path }}
      docker-build-target: ${{ matrix.docker-build-target }}
      push-to-registry: false
  ci-success:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo Done!
