name: Apps CI

on:
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install
      - name: Validate PR
        run: bun validate:pr
      - name: Test
        run: bun run test
  build:
    needs: [test]
    strategy:
      matrix:
        docker-build-target: [blog, admin, game-2048, auth-server, database]
    uses: ./.github/workflows/docker-image-build-and-push.yml
    secrets: inherit
    with:
      docker-file-path: ./Dockerfile
      docker-build-target: ${{ matrix.docker-build-target }}
      push-to-registry: false
  ci-success:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo Done!
