name: Blog Docker Image Build and Push

on:
  push:
    branches:
      - 'main'
    paths:
      - 'apps/web/blog-vite/**'
      - 'modules/**'
      - 'libraries/**'
      - 'bun.lock'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/docker-image-build-and-push.yml
    secrets: inherit
    with:
      docker-file-path: ./apps/web/blog-vite/Dockerfile
      docker-build-target: blog
      push-to-registry: true
