name: Database Legacy Server Docker Image Build and Push

on:
  push:
    branches:
      - 'main'
    paths:
      - 'apps/server/database-legacy/**'
      - 'modules/**'
      - 'libraries/**'
      - 'bun.lock'
      - 'Dockerfile'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/docker-image-build-and-push.yml
    secrets: inherit
    with:
      docker-file-path: ./Dockerfile
      docker-build-target: database
      push-to-registry: true
